.venv_bikerenting/

# Python cache files
__pycache__/
*.py[cod]

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
*.whl

# Trained model files
*.pkl

# Environment files
.env
*.env

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo